<style lang="sass" scoped>


span,
div
  font-family: basic-sans, sans-serif !important
  // color: var(--v-mdLight-base) !important


// @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap')
// .basic-sans
// font-family: basic-sans, sans-serif !important
//
.name-header
  font-family: basic-sans, sans-serif !important
  font-weight: 700
  font-size: 15px
  letter-spacing: 0.2em


.contact-info
  font-family: basic-sans, sans-serif !important
  font-style: normal
  font-size: 12px
  color: var(--v-mdLight-base)


.small-caps
  font-family: basic-sans, sans-serif !important
  font-weight: 700
  font-size: 12px
  letter-spacing: 0.2em
  text-transform: uppercase


.reg-text
  font-family: basic-sans, sans-serif !important
  font-style: normal
  font-size: 14px
  color: var(--v-mdLight-base)


.year
  font-family: basic-sans, sans-serif !important
  font-style: normal
  font-size: 18px
  color: var(--v-mdLight-base)


.fade
  // opacity: 0.5
  color: var(--v-uv-base)


.one-block
  padding: 0
  margin: 0
  max-width: 117px
  height: 100px

.two-block
  padding: 0
  margin: 0
  max-width: 234px
  height: 100px
</style>
